.section {
  padding: 32px 0;

  &__title,
  &__subtitle {
    &:not(:first-child) {
      margin-top: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    + .section__description {
      margin-top: -16px;
    }
  }

  &__title {
    @include h1();

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title-navigate {
    @include text-small();

    display: flex;

    li {
      position: relative;
      margin-right: 16px;

      &:not(:last-child) {
        &::after {
          content: "";
        }
      }

      &::after {
        @include size(4px);

        position: absolute;
        top: 50%;
        right: -8px;
        transform: translate(50%, -50%);
        border-radius: 50%;
        background: $color-brand;
      }
    }
  }

  &__subtitle {
    @include h2();
  }

  &__description {
    color: $color-base-light;

    p {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__content {
    padding-top: 64px;

    h3, h4 {
      &:not(:first-child) {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    h2 {
      @include h2();;

      &:not(:first-child) {
        margin-top: 32px;
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    h3 {
      @include h3;
    }
    h4 {
      @include h3;
    }
  }

  &__content,
  &__content-examples {
    img {

      &:not(.full-width) {
        max-width: 480px;

        @include mq(sm) {
          max-width: 100%;
        }
      }

      &.full-width {
        width: 100%;
      }
    }

    p,
    ul,
    img {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__content-examples {
    padding: 32px;
    border-radius: $border-radius-base;
    border: 2px solid $color-base;

    @include mq(sm) {
      padding: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__content-examples-title,
  &__content-examples-result {
    @include h4;

    margin-bottom: 24px;
  }

  &__content-examples-title {
    color: $color-base-light;
  }

  &__content-examples-result {
    @include h5;
  }
}


