button,
input,
select,
textarea {
  @include text-base;

  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

textarea {
  resize: none;
}


