<section class="section">
  <div class="container">
    <h1 class="section__title">
      Taxes Adaptive
    </h1>

    <div class="section__content">
      <div class="taxes-container">


        <div class="taxes-adaptive-table">

          <div class="taxes-adaptive-table__header">
            <div class="taxes-adaptive-table__agent-column">
              Налоговый агент
            </div>

            <div class="taxes-adaptive-table__code-and-income-column">
              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__code-column">
                  Код
                </div>
                <div class="taxes-adaptive-table__income-column">
                  Доход
                </div>
              </div>
            </div>
            <div class="taxes-adaptive-table__tax-base-column taxes-adaptive-table__tax-base-column--is-md">
              Налоговая база
            </div>
          </div>

          <!--    Первая линия таблицы      -->
          <div class="taxes-adaptive-table__body">
            <div class="taxes-adaptive-table__agent-column">
              <h3 class="taxes-adaptive-table__title">ГОУ ВПО Московский государственный университет экономики, статистики и информатики (МЭСИ)</h3>
              <div class="taxes-adaptive-table__text-description">
                ИНН 7729649075 / КПП 770301001
              </div>
            </div>

            <div class="taxes-adaptive-table__code-and-income-column">
              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__income-column" data-table-name="Доход">
                  999 999 999.99&nbsp;Р
                </div>
                <!--        Следующий элемент дублируется так как на брекпоинтах он расположен не в потоке         -->
                <div class="taxes-adaptive-table__tax-base-column taxes-adaptive-table__tax-base-column--is-sm"  data-table-name="Налоговая база">
                  999 999 999.99&nbsp;Р
                </div>
              </div>
              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__code-column"  data-table-name="Код">
                  <a href="#">4800</a>
                </div>
                <div class="taxes-adaptive-table__income-column text-helper"  data-table-name="Доход">
                  999 999 999.99&nbsp;Р
                </div>
              </div>

              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__code-column"  data-table-name="Код">
                  <a href="#">4801</a>
                </div>
                <div class="taxes-adaptive-table__income-column text-helper"  data-table-name="Доход">
                  999 999 999.99&nbsp;Р
                </div>
              </div>

              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__code-column"  data-table-name="Код">
                  <a href="#">4802</a>
                </div>
                <div class="taxes-adaptive-table__income-column text-helper"  data-table-name="Доход">
                  00.99&nbsp;Р
                </div>
              </div>
            </div>
            <!--        Следующий элемент дублируется так как на брекпоинтах он расположен не в потоке         -->
            <div class="taxes-adaptive-table__tax-base-column taxes-adaptive-table__tax-base-column--is-md"  data-table-name="Налоговая база">
              999 999 999.99&nbsp;Р
            </div>
          </div>

          <!--    Вторая линия таблицы      -->
          <div class="taxes-adaptive-table__body">
            <div class="taxes-adaptive-table__agent-column">
              <h3 class="taxes-adaptive-table__title">Мещеряков Максим Константинович</h3>
              <div class="taxes-adaptive-table__text-description">
                ИНН 7729649075
              </div>
            </div>

            <div class="taxes-adaptive-table__code-and-income-column">
              <div class="taxes-adaptive-table__code-and-income-column-grid">
                <div class="taxes-adaptive-table__code-column"  data-table-name="Код">
                  <a href="#">4800</a>
                </div>
                <div class="taxes-adaptive-table__income-column text-helper"  data-table-name="Доход">
                  999 999 999.99&nbsp;Р
                </div>
              </div>
            </div>
            <!--        Следующий элемент дублируется так как на брекпоинтах он расположен не в потоке         -->
            <div class="taxes-adaptive-table__tax-base-column taxes-adaptive-table__tax-base-column--is-md"  data-table-name="Налоговая база">
              999 999 999.99&nbsp;Р
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
