@import "./src/assets/styles/theme-provider/theme-provider";

.site-header {
  padding: 24px 0;
  background: $color-base;

  &__title {
    @include h2();

    margin: 0 auto;
    color: #fff;
  }

  &__title-link {
    color: #fff;
  }
}
