<section class="section">
  <div class="container">
    <h1 class="section__title">
      Оглавление
    </h1>
    <div class="section__description">
      Это навигационная страница FRONTEND UI  портала. Здесь собраны инструкции и рекомендации для качественной реализации UX/UI <b>Cardbox UI</b>
      <span class="white-space-no-wrap">
                (<a href="https://www.figma.com/file/yxBwzEgsC11kdO3XwqjSuz/Cardbox-UI?node-id=3459%3A1025" target="_blank">
          https://www.figma.com/file/yxBwzEgsC11kdO3XwqjSuz/Cardbox-UI?node-id=3459%3A1025
        </a>).
      </span>

    </div>

    <div class="section__content">
      <h2 class="section__subtitle">
        Конфигурация
      </h2>
      <ul>
        <li><a routerLink="connect">Подключение</a></li>
        <li><a routerLink="colors">Цвета</a></li>
        <li><a routerLink="breakpoints">Брекпоинты(@media)</a></li>
      </ul>
      <h2 class="section__subtitle">
        Компоненты
      </h2>
      <ul>
        <li><a routerLink="typography">Типографика</a></li>
        <li><a routerLink="buttons">Кнопки</a></li>
      </ul>
    </div>

  </div>
</section>
