@import "../../../assets/styles/theme-provider/theme-provider";

.buttons {
  &__list {

  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__list-item-body {
    @include mq(md) {
      display: flex;
    }
  }

  &__list-item-body-col-button {
    margin-right: 48px;
    min-width: 240px;
    width: 240px;
  }

  &__list-item-body-col-description {
    padding-left: 22px;
    border-left: 2px solid;
    color: $color-base-light;

    @include mq(sm) {
      margin-top: 16px;
    }

    @include mq(md) {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
}

.my-custom-search-button {
  @include cardboxui-base-button-secondary(min);

  display: inline-flex;
  align-items: center;

  &:focus,
  &:hover {
    .icon {
      fill: $color-active-item;
    }
  }

  &:active {
    .icon {
      fill: $color-button-hit;
    }
  }

  .icon {
    @include size(20px);

    margin-right: 8px;
    fill: $color-brand;
    transition: $transition-duration-base;
  }
}
