<section class="section">
  <div class="container">
    <h1 class="section__title">
      Сервисные миксины
    </h1>

    <div class="section__content">

      <h2 class="section__subtitle">
        Миксин size($width, $height)
      </h2>
      <img src="./assets/img/service-mixins/sm-1.png" class="full-width" alt="Сервисные миксины">
      <img src="./assets/img/service-mixins/sm-2.png" class="full-width" alt="Сервисные миксины">

      <h2 class="section__subtitle">
        Миксины grid($main-axis: x, $justify-content: flex-start, $align-items: flex-start, $multiplier: 1) & grid-col-mx($size, $multiplier: 1)
      </h2>
      <p>Миксины для генерации адаптивных гридов на display: flex(можно обойтись без display: flex, если не нужно masonry)</p>
      <p>отступы между колонками задаются исходя из данных по брекпоинтам заданных в _variables.scss</p>

      <div class="test-grid">
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
        <div class="test-grid__col">
          <article class="test-grid__card">
            <header><h3 class="test-grid__card-title">Договор социального найма – Plain Text</h3></header>
            <p>Договор социального найма — договор на право пользования жильем. Предметом договора могут быть помещения, находящиеся в государственной или муниципальной собственности, передаваемые гражданам бессрочно и на безвозмездной основе. – Plain Small </p>
          </article>
        </div>
      </div>
    </div>

  </div>
</section>
