<section class="section">
  <div class="container">
    <h1 class="section__title">
      Цвета Cardbox UI
    </h1>
    <div class="section__description">
      <p>
        В переменные заключены все цвета кроме #fff
      </p>
    </div>
    <div class="section__content">
      <div class="colors">
        <div class="colors__search-block">
          <input type="text" (input)="searchColor($event)" placeholder="Введите код цвета">
        </div>
        <ul class="colors__list">
          <li class="colors__list-item" *ngFor="let item of data | colorFilter : searchCode">
            <div class="colors__list-item-body">
              <div class="colors__list-item-body-col-code">
                <div class="colors__circle" [ngStyle]="{backgroundColor: item.colorCode}">

                </div>

                <ul class="colors__code-body">
                  <li class="colors__code-body-item">
                    <dl>
                      <dt>Cardbox UI:</dt>
                      <dd>{{item.colorTitle}}</dd>
                    </dl>
                  </li>
                  <li class="colors__code-body-item">
                    <dl>
                      <dt>Значение:</dt>
                      <dd>{{item.colorValue}}</dd>
                    </dl>
                  </li>
                  <li class="colors__code-body-item">
                    <dl>
                      <dt>Переменная:</dt>
                      <dd>{{item.colorVar}}</dd>
                    </dl>
                  </li>
                </ul>
              </div>
              <div class="colors__list-item-body-col-description">
                {{item.colorDescription}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
