@import "./src/assets/styles/theme-provider/theme-provider";
@import "./src/assets/styles/theme-provider/reset_styles/forms";

.colors {

  &__search-block {
    margin-bottom: 32px;

    input {
      @include heading-h2(400);

      display: block;
      padding: 16px;
      width: 100%;
      border-radius: $border-radius-base / 2;
      border: 2px solid $color-brand;
      color: $color-base;

      &::placeholder {
        color: $color-blu-selvaggio;
      }

      &:active,
      &:focus {
        border-color: $color-active-item;
      }
    }
  }

  &__list {

  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__list-item-body {
    @include mq(md) {
      display: flex;
    }
  }

  &__list-item-body-col-code {
    margin-right: 48px;
    min-width: 320px;
    width: 320px;
  }

  &__list-item-body-col-description {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 22px;
    border-left: 2px solid;
    color: $color-base-light;

    @include mq(sm) {
      margin-top: 16px;
    }
  }

  &__circle {
    @include size(64px);

    border-radius: 50%;
    border: 1px solid $color-base;
  }

  &__code-body {
    margin-top: 16px;
  }

  &__code-body-item {
    dl {
      display: flex;
    }

    dl dt {
      width: 120px;
      color: $color-base-light;
    }

    dl dd {
      font-weight: 700;
    }
  }


}
