@import "./src/assets/styles/theme-provider/theme-provider";

.typography {
  &__list {

  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__list-item-body {
    display: flex;
  }

  &__list-item-body-col-size {
    margin-right: 48px;
    width: 128px;

    @include mq(sm) {
      width: 64px;
    }
  }

  &__list-item-body-col-description {
    flex-grow: 1;
  }

  &__description-body {
    margin-top: 16px;
  }

  &__description-body-item {
    dl {
      display: flex;
    }

    dl dt {
      width: 80px;
      color: $color-base-light;
    }

    dl dd {
      font-weight: 700;
    }
  }
}


// Examles

.page-title {
  @include heading-h1;
}

.page-title-2 {
  @include heading-h1;
  color: $color-blu-digitale;

  @include mq(sm) {
    @include heading-h2;
  }
}

.page-title-3 {
  @include heading-h1(400);

  color: $color-error-highlight;
}

.demo-content-1 {
  h3 {
    @include heading-h3;
  }

  p {
    @include text-base;

    &.line-through {
      text-decoration: line-through;
    }

    b {
      font-weight: 700;
    }
  }

  small {
    @include text-small()
  }
}
