<section class="section">
  <div class="container">
    <h1 class="section__title">
      Типографика
      <ul class="section__title-navigate">
        <li><a pageScroll href="#about">Содержание</a></li>
        <li><a pageScroll href="#examples">Примеры</a></li>
      </ul>
    </h1>
    <div class="section__description">
      <p>
        Заголовки(в жирном начертании) и текст(в обычном начертании) выполняются в гарнитуре  Lato.<br>
        Первое значение(32/40) это размер шрифта в рх. Второе(32/40) значение через слеш это значение line-height.<br>
        Заголовки одного размера на всех брекпоинтах (Если дизайн макетом не задано иное)
      </p>
      <p>
        Если дизайн макетом заданы кастомные свойства, делаем в файле стилей нужный класс, добавляем через @include(@include heading-h3()) нужный миксин, ниже пишем кастомные свойства
      </p>
      <p>
        Так же есть атомарные классы, но их использование не дает таакой гибкости, как создание элемента на основе миксина
      </p>
    </div>

    <div id="about" class="section__content">
      <h2 class="section__subtitle">Содержание:</h2>
      <div class="typography">
        <ul class="typography__list">
          <li class="typography__list-item" *ngFor="let item of data">
            <div class="typography__list-item-body">
              <div class="typography__list-item-body-col-size">
                <div class="heading-h3">{{item.size}}</div>
              </div>
              <div class="typography__list-item-body-col-description">
                <div [ngClass]="item.class">{{item.title}}</div>
                <ul class="typography__description-body">
                  <li class="typography__description-body-item">
                    <dl>
                      <dt>Миксин:</dt>
                      <dd>{{item.mixin}}</dd>
                    </dl>
                  </li>
                  <li class="typography__description-body-item">
                    <dl>
                      <dt>Класс:</dt>
                      <dd>.{{item.class}}</dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="examples" class="section__content">
      <h2 class="section__subtitle">Примеры:</h2>

      <article class="section__content-examples">
        <header>
          <h3 class="section__content-examples-title">Простая вставка миксина в кастомный селектор:</h3>
        </header>
        <img src="./assets/img/typgraphy/ex-1.png" alt="">
        <footer>
          <div class="section__content-examples-result">
            Результат:
          </div>
          <div class="page-title">Просто заголовок</div>
        </footer>
      </article>

      <article class="section__content-examples">
        <header>
          <h3 class="section__content-examples-title">Вставка с изменением размера для дисплеев меньше 768px(для тестирования можно поресайзить):</h3>
        </header>
        <img src="./assets/img/typgraphy/ex-2.png" alt="">
        <footer>
          <div class="section__content-examples-result">
            Результат:
          </div>
          <div class="page-title-2 ">Просто заголовок</div>
        </footer>
      </article>

      <article class="section__content-examples">
        <header>
          <h3 class="section__content-examples-title">Вставка с изменением font-weight:</h3>
        </header>
        <img src="./assets/img/typgraphy/ex-3.png" alt="">
        <footer>
          <div class="section__content-examples-result">
            Результат:
          </div>
          <div class="page-title-3 ">Просто заголовок</div>
        </footer>
      </article>

      <article class="section__content-examples">
        <img src="./assets/img/typgraphy/ex-5.png" alt="">
        <div class="section__content-examples-result">
          Результат:
        </div>
        <div class="demo-content-1">
        <h3>Просто заголовок</h3>
          <p><a href="https://www.gosuslugi.ru/" target="_blank">Единый портал госуслуг</a> – <small>флагманский проект нашей компании</small> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
          <p><a href="https://www.gosuslugi.ru/" target="_blank">Единый портал госуслуг</a> – <b>флагманский проект нашей компании</b> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
          <p class="line-through">Единый портал госуслуг – <b>флагманский проект нашей компании</b> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
          <h3><a href="https://www.gosuslugi.ru/" target="_blank">Просто заголовок со ссылкой</a></h3>
          <p><a href="https://www.gosuslugi.ru/" target="_blank">Единый портал госуслуг</a> – <small>флагманский проект нашей компании</small> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
          <p><a href="https://www.gosuslugi.ru/" target="_blank">Единый портал госуслуг</a> – <b>флагманский проект нашей компании</b> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
          <p class="line-through">Единый портал госуслуг – <b>флагманский проект нашей компании</b> – существует уже 10 лет, а кажется, будто всегда! Ведь трудно вспомнить, как мы жили без него – куда обращались, когда нужно было получить паспорт, как оплачивали штрафы и записывались в поликлинику.</p>
    </div>
      </article>

    </div>
  </div>
</section>
